# ========================
# Node / Frontend (React + Vite)
# ========================
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.DS_Store
frontend/.vite/
frontend/.turbo/

# ========================
# Python / Backend (FastAPI)
# ========================
backend/app/__pycache__/
backend/app/services/__pycache__/
backend/venv/
backend/app/routes/__pycache__/
backend/.env
backend/*.pyc
backend/.pytest_cache/
backend/.DS_Store
backend/app/serviceAccountKey.json  # Firebase admin secret
serviceAccountKey.json
app/serviceAccountKey.json
*.json
backend/uploads/
backend/app/static/detections
backend/securesight.db



# ========================
# OS / Misc
# ========================
.DS_Store
Thumbs.db
*.log


